{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <section id="title">
        {% include '__title.html' %}
    </section>

    <a href="{{ url_for('crm.add_client') }}" class="btn bg-body-tertiary text-decoration-none text-white" data-bs-theme="dark"  >
        <i class="bi bi-person-add me-2 fs-4"></i> Nuevo Cliente
    </a>

    <section id="table-roles" class="d-none d-md-block">
        <div class="table-responsive mt-3">
            <table class="table table-hover">
                <thead>
                    <th>Nombre o Raz&oacute;n social</th>
                    <th>Ruc o CI</th>
                    <th>Tel&eacute;fono</th>
                    <th></th>
                </thead>
                <tbody>
                    {% for client in clients %}
                        <tr>
                            <td>{{ client.name }}</td>
                            <td>
                                {{ client.ruc_or_ci }}
                            </td>
                            <td>
                                {{ client.phone }}
                            </td>
                            <td>
                                <a href="{{ url_for('crm.view_client', client_id=client.id) }}" class="text-decoration-none">
                                    <i class="bi bi-chevron-right"></i>
                                </a>
                                
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    <section id="roles-list" class="d-block d-md-none mt-3">
        {% for client in clients %}
        <a href="{{ url_for( 'crm.view_client', client_id=client.id) }}" class="text-decoration-none">
            <div class="card mb-3">
                <div class="card-body d-flex justify-content-between align-items-center">
                    <div>
                        <h5 class="card-title">{{client.name }}</h5>
                        <h6 class="card-subtitle text-body-secondary mb-2">
                            {{ client.ruc_or_ci }}
                        </h6>
                        <p class="card-text">
                            {{ client.phone }}
                        </p>
                    </div>
                    <div class="d-flex flex-column align-items-end">
                        <i class="bi bi-chevron-right text-muted fs-2"></i>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </section>

{% endblock %}