{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <section id="header">
        {% include '__title.html' %}
    </section>

    <a href="{{ url_for('admin.add_role') }}" class="btn btn-primary text-decoration-none">Nuevo cargo</a>

    <section id="roles">
        <div class="table-responsive">
            <table>
                <thead>
                    <th>Cargo</th>
                    <th></th>
                </thead>
                <tbody>
                    {% for role in roles %}
                        <tr>
                            <td>{{ role.name }}</td>
                            <td>
                                <i class="bi bi-chevron-right"></i>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

{% endblock %}