<nav class="nav flex-column bg-primary d-none d-md-block">
    <a class="nav-link text-white" href="#">
        <i class="bi bi-clipboard2-data"></i>
        Ventas
    </a>
    <a class="nav-link text-white" href="#">
        <i class="bi bi-box-seam"></i>
        Inventario
    </a>
    <a class="nav-link text-white" href="#">
        <i class="bi bi-gear"></i>
        Producci&oacute;n
    </a>
    <a class="nav-link text-white" href="">
        <i class="bi bi-list-check"></i>
        Calidad
    </a>
</nav>